.now-playing-controls {
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.button-controls {
  align-items: center;
  display: flex;
  padding: 0 20px 20px 20px;
  min-height: -webkit-min-content;
}
.playback-controls {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1 0 auto;
}
.playback-controls > button {
  margin: 5px;
}
.progress-bar {
  position: relative;
  top: -24px;
  margin: 0 -8px;
}
.now-playing-info {
  color: gray;
  display: flex;
  font-size: 0.8em;
  margin: -10px 0;
  padding: 0 20px;
  position: relative;
  top: -20px;
}
.now-playing-info > * {
  flex-basis: 50px;
}
.now-playing-info > .title {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;
}
md-slider {
  cursor: pointer;
}