/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
html {
  cursor: default;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body, app-root {
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  cursor: pointer;
}
.pad-sm {
  padding: 10px;
}
.filter-container {
  padding: 10px 20px 0 20px;
}
.filter {
  width: 100%;
}
.duration {
  text-align: right !important;
}
.action-icon {
  cursor: pointer;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
@media(max-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
.invisible {
  visibility: hidden;
}
.rotate {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); } }