/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body, app-root {
  margin: 0;
  width: 100%;
  height: 100%;
}
.pad-sm {
  padding: 10px;
}