/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
:focus {
  outline: 0;
}
html {
  cursor: default;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  -webkit-text-size-adjust: 100%;
}
html, body, app-root {
  margin: 0;
  width: 100%;
  height: 100%;
}
svg {
  -webkit-transform: translate3d(0,0,0);
}
a {
  cursor: pointer;
}
a.disabled {
  color: lightgray;
  cursor: default;
  text-decoration: none;
}
.pad-sm {
  padding: 10px;
}
.filter-container {
  padding: 20px 20px 0 20px;
}
.filter {
  width: 100%;
}
.duration, .track {
  text-align: right !important;
}
.action-icon {
  cursor: pointer;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
@media(max-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
.invisible {
  visibility: hidden;
}
.rotate {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); } }
.songs {
  padding: 10px;
}
.songs table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
}
.songs th {
  font-size: 0.8em;
  overflow-x: hidden;
  padding: 0 10px 10px 10px;
  text-align: left;
  white-space: nowrap;
}
.songs th > a {
  align-items: center;
  display: inline-flex;
}
.songs tr.highlight:hover td {
  background-color: rgba(0, 0, 0, 0.04);
}
.songs tr.highlight.active td {
  background-color: rgba(0, 0, 0, 0.08);
}
.songs td {
  overflow-x: hidden;
  padding: 10px;
  white-space: nowrap;
}
.songs .action-icon {
  visibility: hidden;
}
.songs tr:hover .action-icon, .songs tr.active .action-icon {
  visibility: visible;
}
.album-art {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 172px;
  justify-content: flex-end;
  width: 172px;
}
.album-controls button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.album-controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.album-status {
  flex-grow: 1;
  padding: 10px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.bg-0 {
  background-color: #F44336;
}
.bg-1 {
  background-color: #E91E63;
}
.bg-2 {
  background-color: #9C27B0;
}
.bg-3 {
  background-color: #673AB7;
}
.bg-4 {
  background-color: #3F51B5;
}
.bg-5 {
  background-color: #2196F3;
}
.bg-6 {
  background-color: #03A9F4;
}
.bg-7 {
  background-color: #00BCD4;
}
.bg-8 {
  background-color: #009688;
}
.bg-9 {
  background-color: #4CAF50;
}
.bg-10 {
  background-color: #8BC34A;
}
.bg-11 {
  background-color: #CDDC39;
}
.bg-12 {
  background-color: #FFEB3B;
}
.bg-13 {
  background-color: #FFC107;
}
.bg-14 {
  background-color: #FF9800;
}
.bg-15 {
  background-color: #FF5722;
}
.bg-16 {
  background-color: #795548;
}
.bg-17 {
  background-color: #9E9E9E
}
.bg-18 {
  background-color: #607D8B;
}
.paginator {
  display: flex;
  font-size: 0.8em;
  justify-content: flex-end;
  padding: 0 20px;
}
.paginator > li {
  list-style-type: none;
}
.paginator > li > a {
  color: gray;
  padding: 8px;
  text-decoration: none;
}
.paginator > li > a.active {
  background-color: gray;
  border-radius: 2px;
  color: white;
}
.hide {
  display: none !important;
}