<div *ngIf="loadingAlbums" class="spinner-container">
  <md-spinner></md-spinner>
</div>
<div *ngIf="!loadingAlbums" class="filter-container">
  <form>
    <md-input-container class="filter">
      <input mdInput type="search" placeholder="Filter albums" (keyup)="handleFilterQueryChange($event.target.value)" (search)="handleFilterQueryChange($event.target.value)">
    </md-input-container>
  </form>
</div>
<div *ngIf="!loadingAlbums && paginatedAlbums.length === 0" class="no-albums-message pad-sm">
  <md-card>No albums to display</md-card>
</div>
<ul *ngIf="numAlbums > numAlbumsPerPage" class="paginator">
  <li><a href="javascript:void(0);" (click)="!isPreviousDisabled() && goToPreviousPage()" [ngClass]="{disabled: isPreviousDisabled()}">Previous</a></li>
  <li *ngFor="let page of pages" [ngClass]="{hide: !isPageVisible(page)}"><a href="javascript:void(0);" (click)="goToPage(page)" [ngClass]="{active: isPageActive(page)}">{{ getPageLabel(page) }}</a></li>
  <li><a href="javascript:void(0);" (click)="!isNextDisabled() && goToNextPage()" [ngClass]="{disabled: isNextDisabled()}">Next</a></li>
</ul>
<div #albums class="albums" (window:resize)="handleWindowResize($event)">
  <md-card *ngFor="let album of paginatedAlbums" class="album">
    <md-card-content>
      <div md-card-image class="album-art" [ngClass]="getBackgroundColor(album)" (click)="goToAlbumDetails(album)">
        <div class="album-status">
          <span *ngIf="isAlbumCurrent(album)">
            <md-icon *ngIf="loading" [ngClass]="{rotate: loading}">sync</md-icon>
            <md-icon *ngIf="playing">equalizer</md-icon>
          </span>
        </div>
        <div class="album-controls">
          <button md-mini-fab (click)="stopPropagation($event); addAlbumToQueue(album)" title="Add to queue"><md-icon>add</md-icon></button>
          <button md-mini-fab (click)="stopPropagation($event); playAlbum(album)" title="Play now"><md-icon>play_arrow</md-icon></button>
        </div>
      </div>
      <p>
        <a (click)="goToAlbumDetails(album)">{{ album.title }}</a><br /><small class="artist">{{ album.artist }}</small>
      </p>
    </md-card-content>
  </md-card>
  <md-card *ngFor="let album of remainderAlbums" class="album invisible">
    <md-card-content>
      <div md-card-image class="album-art"></div>
    </md-card-content>
  </md-card>
</div>