.albums {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  padding: 20px 0 0 10px;
}
.album {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 124px;
  -webkit-transform: translate3d(0,0,0);
}
@media (max-width: 600px) {
  .album {
    width: 140px;
  }
}
.album p {
  overflow-x: hidden;
  white-space: nowrap;
}
.artist {
  color: gray;
}
.no-albums-message {
  padding: 10px;
}
.album-art {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.album-controls {
  display: none;
}
.album-art:hover .album-controls {
  display: flex;
}