<div class="filter-container">
  <form>
    <md-input-container class="filter">
      <input mdInput type="search" placeholder="Filter albums">
    </md-input-container>
  </form>
</div>
<div *ngIf="filteredAlbums.length === 0" class="no-albums-message">
  <md-card>No albums to display</md-card>
</div>
<div class="albums">
  <md-card *ngFor="let album of filteredAlbums" class="album">
    <md-card-content>
      <div md-card-image class="album-art">
        <div class="album-controls" [ngClass]="{'touch-device': isTouchDevice()}">
          <button md-mini-fab (click)="addAlbumToQueue(album)" title="Add to queue"><md-icon>add</md-icon></button>
          <button md-mini-fab (click)="playAlbum(album)" title="Play now"><md-icon>play_arrow</md-icon></button>
        </div>
      </div>
      <p>
        <a>{{ album.title }}</a><br /><a><small class="artist">{{ album.artist }}</small></a>
      </p>
    </md-card-content>
  </md-card>
</div>