<div class="queue-flex">
  <div class="queue">
    <table (click)="stopPropagation($event)">
      <thead>
        <tr>
          <th></th>
          <th>NAME</th>
          <th>ARTIST</th>
          <th class="duration">TIME</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of songs" class="highlight">
          <td class="text-center">
            <md-icon *ngIf="isSongPlaying(song)" title="Now playing">equalizer</md-icon>
          </td>
          <td>{{ song.title }}</td>
          <td>{{ song.artist }}</td>
          <td class="duration">{{ song.duration | seconds }}</td>
          <td class="text-center">
            <md-icon (click)="remove(song)" class="action-icon" title="Remove">clear</md-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-right" colspan="5">
            <button md-button (click)="shuffle()" [disabled]="true" title="Shuffle">SHUFFLE</button>
            <button md-button (click)="clear()" [disabled]="true" title="Clear">CLEAR</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>