<div class="filter-container">
  <form>
    <md-input-container class="filter">
      <input mdInput type="search" placeholder="Filter songs">
    </md-input-container>
  </form>
</div>
<div class="songs-flex">
  <div class="songs">
    <md-card>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>NAME</th>
            <th class="hidden-sm">ARTIST</th>
            <th class="hidden-sm">ALBUM</th>
            <th class="hidden-sm duration">TIME</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredSongs.length === 0">
            <td colspan="6">No songs to display</td>
          </tr>
          <tr *ngFor="let song of filteredSongs" class="highlight">
            <td class="text-center">
              <md-icon *ngIf="isSongCurrent(song)">{{ isSongPlaying(song) ? 'equalizer' : 'pause' }}</md-icon>
              <md-icon *ngIf="!isSongCurrent(song)" class="invisible">album</md-icon>
            </td>
            <td class="title">{{ song.title }}</td>
            <td class="hidden-sm">{{ song.artist }}</td>
            <td class="hidden-sm">{{ song.album }}</td>
            <td class="hidden-sm duration">{{ song.duration | seconds }}</td>
            <td class="text-center">
              <md-icon (click)="addToQueue(song)" class="action-icon" title="Add to queue">add</md-icon>
              <md-icon (click)="play(song)" class="action-icon" title="Play">play_arrow</md-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </md-card>
  </div>
  <div class="letters">
    <a *ngFor="let letter of letters" (click)="jumpTo(letter)">{{ letter }}</a>
  </div>
</div>