.songs-flex {
  display: flex;
  padding: 20px;
}
.songs {
  flex-grow: 1;
}
.letters {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
table {
  border-collapse: collapse;
  font-size: 0.8em;
  width: 100%;
}
th {
  font-size: 0.8em;
  overflow-x: hidden;
  padding: 0 10px 10px 10px;
  text-align: left;
  white-space: nowrap;
}
tr.highlight:hover td {
  background-color: rgba(0, 0, 0, 0.04);
}
td {
  overflow-x: hidden;
  padding: 10px;
  white-space: nowrap;
}
.action-icon {
  visibility: hidden;
}
tr:hover .action-icon {
  visibility: visible;
}