<div class="drawer-flex">
  <div class="drawer">
    <table (click)="stopPropagation($event)">
      <thead>
        <tr>
          <th></th>
          <th>NAME</th>
          <th>ARTIST</th>
          <th class="duration">TIME</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isQueueEmpty()">
          <td></td>
          <td colspan="3"><span class="empty-message">Your queue is currently empty :(</span></td>
          <td></td>
        </tr>
        <tr *ngFor="let song of songs; let i = index" class="highlight" (dblclick)="skipTo(i)" (click)="handleSongClick(song)">
          <td class="text-center">
            <md-icon *ngIf="currentIndex === i" title="Now playing">{{ isSongPlaying(song) ? 'equalizer' : 'pause' }}</md-icon>
          </td>
          <td>
          <td class="width-sm">{{ song.title }}</td>
          <td class="width-sm">{{ song.artist }}</td>
          <td class="duration">{{ song.duration | seconds }}</td>
          <td class="text-center">
            <md-icon (click)="remove(i)" class="action-icon" title="Remove">clear</md-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="text-right" colspan="5">
            <button md-button (click)="shuffle()" [disabled]="isQueueEmpty()" title="Shuffle">SHUFFLE</button>
            <button md-button (click)="clear()" [disabled]="isQueueEmpty()" title="Clear">CLEAR</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>