.drawer-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.drawer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: scroll;
}
.drawer table {
  background-color: white;
  border-collapse: collapse;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  font-size: 0.8em;
}
.drawer th {
  font-size: 0.8em;
  padding: 10px;
  padding-top: 40px;
  text-align: left;
}
.drawer td {
  overflow-x: hidden;
  padding: 10px;
  white-space: nowrap;
}
.drawer tr.highlight:hover td {
  background: rgba(0, 0, 0, 0.04);
}
@media(max-width: 600px) {
  .drawer td.width-sm {
    max-width: 100px;
  }
}
.action-icon {
  visibility: hidden;
}
.drawer tr:hover .action-icon {
  visibility: visible;
}
.empty-message {
  color: gray;
}