<md-sidenav-container>
  <md-sidenav #sidenavDrawer mode="over">
    <sidenav></sidenav>
  </md-sidenav>
  <div class="music-library">
    <div class="toolbar">
      <button md-icon-button (click)="sidenavDrawer.toggle()" class="nav-button" title="Menu"><md-icon>menu</md-icon></button>
      <nav>
        <button md-button [routerLink]="['/library/albums']">ALBUMS</button>
        <button md-button [routerLink]="['/library/songs']">SONGS</button>
      </nav>
      <button md-icon-button (click)="showAbout()" class="nav-button" title="About Audiobo"><md-icon>audiotrack</md-icon></button>
    </div>
    <md-sidenav-container mode="over">
      <md-sidenav #queueDrawer align="end" id="queue-drawer" (click)="queueDrawer.toggle()">
        <queue-drawer></queue-drawer>
      </md-sidenav>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </md-sidenav-container>
    <now-playing-controls (queueToggle)="queueDrawer.toggle()"></now-playing-controls>
  </div>
</md-sidenav-container>