md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}
.active {
  background-color: red;
}
.music-library {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.toolbar {
  border-bottom: 1px solid lightgray;
  display: flex;
  min-height: -webkit-min-content;
}
.toolbar nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.toolbar button {
  margin: 5px;
}
#queue-drawer {
  background: transparent;
  box-shadow: none;
}
.spacer {
  height: 200px;
}